# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/VectorAdd/.vs/VectorAdd/v17
/common/data
/VectorAdd/VectorAdd/x64/Debug
/VectorAdd/x64/Debug
/VectorAdd/VectorAdd/VectorAdd.vcxproj.user
/VectorAdd/VectorAdd/VectorAdd.vcxproj.filters
/VectorAdd/VectorAdd/VectorAdd.vcxproj
/VectorAdd/common/data
